<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hogwarts School of Witchcraft and Wizardry</title>
  </head>
  <body>
    <h1>Hogwarts School of Witchcraft and Wizardry</h1>
    <nav>
      <p><a href="/students/new">Enrol New Student</a></p>
      <p><a href="/students">View Students</a></p>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
