<form action="/students" method="POST">

  <label for="first-name-input">First Name: </label>
  <input id="first-name-input" type="text" name="first_name" value="">

  <label for="last-name-input">Last Name: </label>
  <input id="last-name-input" type="text" name="last_name" value="">

  <label for="house-input">House: </label>
  <select class="" name="house" id="house-select">
    <option value="Gryffindor">Gryffindor</options>
      <option value="Ravenclaw">Ravenclaw</option>
      <option value="Hufflepuff">Hufflepuff</option>
      <option value="Slytherin">Slytherin</option>
    </select>

  <label for="age-input">Age: </label>
  <input id="age-input" type="text" name="age" value="">

  <input type="submit" name="" value="Enrol Student">

</form>
